{
	"parser": "babel-eslint",
	"plugins": [
	  "react"
	],
	"env": {        
        "node": true,        
    },	
	"extends": "airbnb",
  	"rules": {
  		"no-unused-vars": 2,  		
  		"max-len": [2,1000],
      "react/forbid-prop-types": [2, { "forbid": [<any>] }],
      "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
      jsx-a11y/no-static-element-interactions: [0],
  	}
}